<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>聊天室</title>
</head>
<body>
<h1>聊天室</h1>
<div>
  <label for="text">
    <input type="text" id="text"/>
  </label>
  <button id="send">发送</button>
  <label for="select"></label><select name="" id="select"></select>
</div>

<div>
  <h2>集体聊天室</h2>
  <ul id="groupChat" style="border: 1px solid #000;">
  </ul>
</div>

<script>
  const select = document.querySelector('#select')
  const text = document.querySelector('#text')
  const send = document.querySelector('#send')
  const groupChat = document.querySelector('#groupChat')

  const WebSocketType = {
    Error: 0,
    GroupList: 1,
    GroupChat: 2,
    SingleChat: 3
  }
  const token = localStorage.getItem('token')
  const ws = new WebSocket(`ws://localhost:8080?token=${token}`)

  ws.onopen = () => {
    console.log('open')
    ws.send(createMessage(WebSocketType.GroupList))
  }

  ws.onmessage = ({data}) => {
    const msgObj = JSON.parse(data)
    switch (msgObj.type) {
      case WebSocketType.Error:
        localStorage.removeItem("token");
        location.href = '/page/login'
        break;
      case WebSocketType.GroupChat:
        // console.log('群聊消息', msgObj)
        const username = msgObj.user?.username || '系统通知'
        const msg = msgObj.data
        const newLi = document.createElement('li');
        newLi.innerText = `${username}：${msg}`
        groupChat.appendChild(newLi)
        break;
      case WebSocketType.GroupList:
        const onlineList = msgObj.data
        select.innerHTML = ""
        select.innerHTML =
            `<option value="all">所有人</option>` +
            onlineList.map(user => `<option value="${user.username}">${user.username}</option>`).join('')
        break;
      case WebSocketType.SingleChat:
        console.log(msgObj)
        break;
      default:
        break;
    }
  }

  const createMessage = (type, data, to) => JSON.stringify({type, data, to})

  send.onclick = () => {
    if (select.value === 'all') {
      // console.log('群发')
      ws.send(createMessage(WebSocketType.GroupChat, text.value))
    } else {
      console.log('私聊')
      ws.send(createMessage(WebSocketType.SingleChat, text.value, select.value))
    }
    text.value = ''
  }
</script>
</body>
</html>
